.header-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.header-img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.header-body {
    margin-top: 40px;
    
}